@{
    ViewData["Title"] = "Wachtwoord wijzigen";
    Layout = "LayoutNoMenu";

}

<main id="change-password-main" class="m-auto p-2 rounded-3 w-50">
    <div class="container-fluid bg-white rounded p-5" style="width:70%;"> 
        <div class="row"> 
            <div class="d-flex">
                <div class="col-1">
                    <a href="/User/Profile">
                        <span class="material-icons back-icon txt-clr-acc-500">
                            arrow_circle_left
                        </span>
                    </a>    
                </div>
                <div class="col-10 text-center mb-4">
                    <h1 class="txt-clr-main-700 fw-semibold">Wachtwoord wijzigen</h1>
                </div>
            </div>
        </div>
        
        <div id="change-password-menu" class="bg-clr-main-500 w-75 m-auto rounded-3 p-4">
            @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
            {
                @if (TempData["error"] != null)
                {
                    <label class="w-100 p-2 text-start rounded-3 alert alert-danger alert-dismissible fade show m-1">
                        @TempData["error"];
                        <button type="button" 
                                class="btn-close top-0 bottom-0 my-auto" 
                                data-bs-dismiss="alert" 
                                aria-label="Close">
                        </button>
                    </label>
                }
                <div class="row mb-3">
                    <div class="fw-bold rounded-3">
                        <label for="current-password" class="form-label text-white fw-bold">Huidig wachtwoord</label>
                        <input class="p-2 rounded-3 border-0 w-100"
                            type="password" 
                            name="current-password" 
                            id="current-password" 
                            placeholder="Huidig wachtwoord...">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="fw-bold rounded-3">
                        <label for="new-pw" class="form-label text-white fw-bold">Nieuw wachtwoord</label>
                        <input class="p-2 rounded-3 border-0 w-100"
                            type="password" 
                            name="new-pw" 
                            id="new-pw" 
                            placeholder="Nieuw wachtwoord...">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="fw-bold rounded-3">
                        <label for="new-pw-repeat" class="form-label text-white fw-bold">Wachtwoord bevestigen</label>
                        <input class="p-2 rounded-3 border-0 w-100"
                            type="password" 
                            name="new-pw-repeat" 
                            id="new-pw-repeat" 
                            placeholder="Wachtwoord bevestigen..." />
                    </div>
                </div>
                <div class="mt-2 mx-auto">
                    <button class="btn w-100 btn-main btn-acc-300 txt-clr-main-100 text-uppercase position-relative fw-bold submit-button-backgroundcolor d-flex justify-content-between align-items-center" type="submit">
                        <span class="mx-auto">Wijzigingen opslaan</span>
                        <span class="material-icons position-absolute">
                            edit
                        </span>
                    </button>
                </div>
            }
        </div>
    </div>
</main>
