<header>
    <div class="container-fluid mw-90 py-2">
        <nav class="navbar navbar-expand">
            <a class="navbar-brand" href="~/Building/Index">
                <img src="~/icons/witlogo.png" alt="logo" height="50px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/User/Settings">
                            <span class="material-icons align-middle header-icon text-white">
                                settings
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>